* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #eeeeee;
  --text-secondary: #919193;
  --bg-primary: #181a1b;
  --bg-secondary: #161819;
  --highlighted-group: #27292f;
  --bg-text: #27292e;
  --bg-text-sent: #387aff;
}

body {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

.chatRoom {
  margin-left: 250px;
  padding: 20px;
}

.chatRoom header {
  font-size: 25px;
  text-align: center;
}

.chatRoom form {
  display: flex;
  justify-content: center;
}

.chatRoom input {
  color: var(--text-primary);
  background: var(--bg-text);
  border-radius: 10px;
  border: none;
  outline: none;
  position: fixed;
  bottom: 30px;
  width: 60%;
  padding: 20px;
}

.messages {
  margin-top: 10px;
  margin-bottom: 80px;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: var(--highlighted-group);
}

::-webkit-scrollbar-thumb {
  background: var(--highlighted-group);
}

.sidebar {
  background-color: var(--bg-primary);
  width: 250px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.groups {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 450px;
}

.group {
  color: var(--text-primary);
  padding: 10px 15px;
  margin: 0px 33px;
  background: none;
  border: none;
  text-align: start;
  font-size: 15px;
  max-width: 220px;
  border-radius: 10px;
}

.group:hover {
  cursor: pointer;
  background-color: var(--highlighted-group);
}

.searchBar {
  background: rgb(0, 0, 0, 0.25);
  height: 32px;
  width: 200px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 15px;
  margin: 10px auto;
}

.searchBar input {
  color: white;
  font-size: 15px;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 0px;
}

.groupsHeader {
  color: #bbbb;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-left: 15px;
  gap: 5px;
  font-size: 15px;
}

.userInfo {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 15px;
  margin-left: 10px;
  background-color: var(--highlighted-group);
  border-radius: 20px;
  margin: 5px auto 10px;
  width: 200px;
}

.userInfo img {
  height: 50px;
  border-radius: 10px;
}

.userInfo p {
  font-size: 18px;
}

.signOutButton {
  color: var(--text-primary);
  padding: 10px;
  background-color: var(--highlighted-group);
  border-radius: 20px;
  margin: 25px auto 10px;
  width: 100px;
  border: none;
}

.signOutButton:hover {
  cursor: pointer;
}

.signInPage {
  background-color: var(--bg-secondary);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signInButton {
  color: var(--text-primary);
  font-size: 20px;
  padding: 10px;
  background-color: var(--highlighted-group);
  border-radius: 20px;
  border: none;
}

.signInButton:hover {
  cursor: pointer;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.addGroupButton {
  background: none;
  border: none;
  color: #bbbb;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-left: 20px;
  gap: 5px;
  font-size: 15px;
}

.addGroupButton:hover {
  cursor: pointer;
}

.searchPage {
  margin-left: 250px;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.notice {
  margin-left: 15px;
  margin-bottom: 20px;
}

.searchResult {
  background-color: var(--highlighted-group);
  border-radius: 20px;
  font-size: 16px;
  width: 350px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.joinButton {
  background-color: green;
  border: none;
  padding: 5px;
  border-radius: 10px;
}

.joinButton:hover {
  cursor: pointer;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.message p {
  padding: 10px;
  border-radius: 15px;
}

.sent p {
  color: var(--text-primary);
  background: var(--bg-text-sent);
  align-items: flex-end;
}
.received p {
  background: var(--bg-text);
  color: var(--text-primary);
}

.message img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px 8px;
}
